// _imas.scss

.object-fit {
    max-height: 120px;
    height: 80px;
    width: 80px;
    object-fit: fill;
  }
  
  .thumbnail {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  .rounded {
    height: 120px;
    width: 120px;
    object-fit: fill;
    border-radius: 99px;
  }

  .shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  