/* ----------- Article Page ------- */
#post {
    padding: 0 2em;
    margin-bottom: 4em;
  }
  
  .post-footer .post-author {
    position: relative;
    margin-top: 4em;
    background-color: var(--light);
  }
  
  .post-footer .post-author::after {
    background-color: white;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    z-index: 0;
  }
  
  .post-footer .post-author .author-avatar {
    margin: 0 auto;
    margin-bottom: 1em;
    position: inherit;
    z-index: 1;
  }
  
  .post-footer .post-comments .reply {
    padding-left: 7em;
  }
  
  .form-control {
    width: 100%;
    border: 2px solid var(--border);
    padding: 1em;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  /* ----------- Sidebar Page ------- */
  #sidebar .categories a {
    padding: 1em 3em;
    font-size: 18px;
    margin-bottom: 1em;
    background-color: var(--light);
    border-radius: 99px;
  }
  
  #sidebar .categories a:hover {
    background-color: var(--primary-color);
    color: var(--light);
  }
  
  .img-container {
    height: 750px;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  #ol-sidebar li {
    margin-bottom: 10px;
  }